node_modules/
dist/
.env
logs/
.idea/
.vscode/
.DS_Store
*.log
coverage/
uploads/
tmp/
/src/generated/prisma

/src/generated/prisma
combined.log
error.log
login.json
middleware-tests.ps1
test-login.ps1
